.PlayerCardWrapper {
  .title {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 15px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .imageWrap {
    width: 180px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: #a5a5a5;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .timer {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }
  .remain {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #a5a5a5;
    margin-bottom: 3px;
  }
  .btn {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
  }
}
