.AddNewPuntUserWrapper {
  color: #fff;
  h4 {
    color: #fff;
  }

  .backArrow {
    height: 20px;
    width: 20px;
  }
  .back {
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 600;
    color: #a5a5a5;
  }

  .wrapper {
    background-color: #15132b;
    margin: 25px 0;
    padding: 25px;

    h5 {
      color: #fff;
    }

    .label {
      margin-bottom: 3px;
      color: #a5a5a5;
      font-weight: 600;
    }
    .input {
      background-color: transparent;
      border-radius: 5px;
      border: 0.25px solid #a5a5a5;
      padding: 5px 10px;
      width: 100%;
    }

    .btn1 {
      background-color: #1d133a;
      border: 1px solid #1d133a;
      color: #6418c3;
    }
    .btn {
      background-color: #6418c3;
      border: 1px solid #6418c3;
      color: #fff;
      margin: 20px 0;
    }

    .imgWrapper {
      background-color: #a5a5a5;
      height: 150px;
      width: 150px;
      margin-top: 25px;
      border-radius: 50%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
