.AddEventsWrapper {
  color: #fff;
  h5 {
    color: #fff;
  }
  .label {
    margin-bottom: 3px;
    color: #a5a5a5;
    font-weight: 600;
  }
  input {
    background-color: transparent;
    border-radius: 5px;
    border: 0.25px solid #a5a5a5;
    padding: 5px 10px;
    width: 100%;
  }

  .btn {
    background-color: #6418c3;
    border: 1px solid #6418c3;
    color: #fff;
    margin-top: 20px;
  }
  .dateInput{
    background-color: transparent;
    color: #fff;
    padding:0;
    input{
      color: #fff;
    }
  }
}
