.NewsWrapper {
  color: #fff;
  h4 {
    color: #fff;
  }

  .wrapper {
    padding: 25px 15px 50px 15px;
    border-radius: 15px;
    margin: 15px 0;
    background-color: #15132b;
  }
  .heading {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  .label {
    margin-bottom: 3px;
    color: #a5a5a5;
    font-weight: 600;
  }
  .input {
    background-color: transparent;
    border-radius: 5px;
    border: 0.25px solid #a5a5a5;
    padding: 5px 10px;
    width: 100%;
  }

  .btn {
    background-color: #6418c3;
    border: 1px solid #6418c3;
    color: #fff;
  }

  .btn1 {
    background-color: #1d133a;
    border: 1px solid #1d133a;
    color: #6418c3;
  }

  .imgWrap {
    background-color: #a5a5a5;
    height: 250px;
    border-radius: 5px;
    margin-right: 15px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .inputDate {
    background-color: transparent;
    border-radius: 5px;
    border: 0.25px solid #a5a5a5;
    padding: 6px 10px;
    width: 100%;
    input {
      color: #fff;
    }
  }
}
